services:
  web:
    build: .
    container_name: football_shop_web
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8001:8000"
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: football_shop_db
    environment:
      POSTGRES_DB: football_shop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: football_shop_nginx
    depends_on:
      - web
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped

volumes:
  pgdata:
